<!DOCTYPE html>
<html ng-app="zenergyApp" ng-controller="mainController">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Zenergy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div ng-cloak class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="user!=undefined">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{user.firstname}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="logoff()">Log Off</a></li>
                            <li><a href="#">Page 1-2</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="user.admin">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Admin Panel
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Users managment", "Index", "Users", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Rooms managment", "Index", "Rooms", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("etcccc", "Index", "Admin", new { area = "" }, null)</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="user.manager">
                    <li>@Html.ActionLink("Contributor panel", "Index", "Admin", new { area = "" }, null)</li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="user.contributor">
                    <li>@Html.ActionLink("Manager panel", "Index", "Admin", new { area = "" }, null)</li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-hide="user!=undefined">
                    <li>@Html.ActionLink("Sign in", "Index", "Login", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Create account", "Index", "Register", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Zenergy IG5 - Ana Maria - Lyvia - Antoine - Clément - Damien</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/zenergyApp")
    @Scripts.Render("~/bundles/angular-resource")
    @RenderSection("scripts", required: false)
</body>
</html>
